@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Karla", Arial, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
  background: #fafafa;
  color: gray; }
  body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%; }

a {
  color: #ff410f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover {
    text-decoration: underline;
    color: #ff410f; }
  a:focus, a:active {
    outline: none; }

p, span {
  margin-bottom: 1.5em;
  font-weight: 400;
  font-family: "Karla", Arial, sans-serif; }

ul, ol {
  display: block;
  margin-bottom: 1.5em; }

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8); }

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", Georgia, serif;
  margin: 0 0 30px 0; }

::-webkit-selection {
  color: #fcfcfc;
  background: #b7c2c2; }

::-moz-selection {
  color: #fcfcfc;
  background: #b7c2c2; }

::selection {
  color: #fcfcfc;
  background: #b7c2c2; }

header {
  padding: 2em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    header {
      padding: 2em 0; } }
  header .colorlib-navbar-brand {
    float: left; }
    header .colorlib-navbar-brand .colorlib-logo {
      font-size: 20px;
      text-transform: uppercase;
      color: #000;
      font-weight: 400;
      letter-spacing: 5px;
      padding: 7px;
      border: 1px solid #000;
      display: block;
      text-align: center;
      background: #000; }
      header .colorlib-navbar-brand .colorlib-logo span {
        display: block;
        margin-bottom: 0;
        line-height: 1.2;
        color: #fff; }
      header .colorlib-navbar-brand .colorlib-logo:hover {
        text-decoration: none !important; }
      header .colorlib-navbar-brand .colorlib-logo:active, header .colorlib-navbar-brand .colorlib-logo:focus {
        outline: none;
        text-decoration: none; }

#colorlib-services,
#colorlib-testimony,
#colorlib-progress,
#colorlib-contact,
#colorlib-about {
  padding: 10em 0;
  clear: both;
  position: relative; }
  @media screen and (max-width: 768px) {
    #colorlib-services,
    #colorlib-testimony,
    #colorlib-progress,
    #colorlib-contact,
    #colorlib-about {
      padding: 5em 0; } }

.rotate {
  position: absolute;
  top: .4em;
  left: -50px; }
  .rotate .heading {
    font-family: "Karla", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    -o-transform-origin: left top 0;
    transform-origin: left top 0;
    position: relative; }
    .rotate .heading:after {
      position: absolute;
      top: 8px;
      right: -40px;
      content: '';
      background: #000;
      width: 40px;
      height: 1px; }

.about-desc {
  padding-top: 3em; }
  .about-desc h2 {
    line-height: 1.3; }
    .about-desc h2 span {
      display: block;
      margin-bottom: 0;
      color: #000;
      font-size: 50px;
      font-family: "Playfair Display", Georgia, serif; }
  .about-desc .desc {
    padding-left: 6em;
    position: relative; }
  .about-desc .rotate {
    position: absolute;
    top: 7px;
    left: 30px; }
    .about-desc .rotate .heading {
      font-family: "Karla", Arial, sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1em;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transform-origin: left top 0;
      -ms-transform-origin: left top 0;
      transform-origin: left top 0;
      position: relative; }
      .about-desc .rotate .heading:after {
        position: absolute;
        top: 8px;
        right: -40px;
        content: '';
        background: #000;
        width: 40px;
        height: 1px; }

.bold {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 250px;
  color: #f0f0f0;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .bold {
      font-size: 60px; } }

.intro-heading {
  margin-bottom: 3em; }
  .intro-heading h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5em;
    color: #000;
    position: relative; }
  .intro-heading span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #bfbfbf;
    font-weight: 600; }

.services-img {
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}

.progress-head {
  font-size: 22px; }

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative; }

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0; }

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1; }

.progress .progress-left {
  left: 0; }

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
  border: 1px solid #000; }

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left; }

.progress .progress-right {
  right: 0; }

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
  -webkit-animation: loading-1 1.8s linear forwards;
  animation: loading-1 1.8s linear forwards; }

.progress .progress-value {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  font-size: 32px;
  line-height: 125px;
  text-align: center;
  position: absolute;
  top: 7.5%;
  left: 7.5%; }

.progress.blue .progress-bar {
  border-color: #049dff; }

.progress.blue .progress-value {
  color: #049dff; }

.progress.blue .progress-left .progress-bar {
  -webkit-animation: loading-2 1.5s linear forwards 1.8s;
  animation: loading-2 1.5s linear forwards 1.8s; }

.progress.yellow .progress-bar {
  border-color: #fdba04; }

.progress.yellow .progress-value {
  color: #fdba04; }

.progress.yellow .progress-left .progress-bar {
  -webkit-animation: loading-3 1s linear forwards 1.8s;
  animation: loading-3 1s linear forwards 1.8s; }

.progress.pink .progress-bar {
  border-color: #ed687c; }

.progress.pink .progress-value {
  color: #ed687c; }

.progress.pink .progress-left .progress-bar {
  -webkit-animation: loading-4 0.4s linear forwards 1.8s;
  animation: loading-4 0.4s linear forwards 1.8s; }

.progress.green .progress-bar {
  border-color: #1abc9c; }

.progress.green .progress-value {
  color: #1abc9c; }

.progress.green .progress-left .progress-bar {
  -webkit-animation: loading-5 1.2s linear forwards 1.8s;
  animation: loading-5 1.2s linear forwards 1.8s; }

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg); } }

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg); } }

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); } }

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); } }

@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg); } }

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg); } }

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px; } }

.services-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%; }
  .services-flex .one-third {
    width: 55%;
    padding: 3em 2em 3em 0; }
  .services-flex .one-forth {
    width: 45%; }
    .services-flex .one-forth .one-third, .services-flex .one-forth .one-forth {
      display: inline-block; }
      @media screen and (max-width: 768px) {
        .services-flex .one-forth .one-third, .services-flex .one-forth .one-forth {
          height: 400px; } }
  .services-flex .one-third, .services-flex .one-forth {
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .services-flex .one-third, .services-flex .one-forth {
        width: 100%;
        display: block; } }

.services {
  margin-bottom: 4em; }
  .services h3 {
    font-family: "Karla", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700; }
  .services ul li {
    list-style: none;
    margin-bottom: 10px; }
    .services ul li::before {
      content: '\2022';
      color: #000;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }

#colorlib-testimony .owl-theme .owl-dots .owl-dot.active span,
#colorlib-testimony .owl-theme .owl-dots .owl-dot:hover span {
  height: 3px;
  background: #000; }

#colorlib-testimony .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 2px;
  background: #e6e6e6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.testimony blockquote {
  border: none; }
  .testimony blockquote p {
    font-family: "Playfair Display", Georgia, serif;
    color: #000;
    font-size: 30px; }
  .testimony blockquote span {
    font-family: "Playfair Display", Georgia, serif;
    color: #000;
    font-size: 30px; }

.f-entry {
  position: relative;
  margin-bottom: 40px; }
  .f-entry .desc h3 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px; }
    .f-entry .desc h3 a {
      color: #4d4d4d;
      text-decoration: none; }
  .f-entry .desc span {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 10px; }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 13px !important;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #ff410f;
  color: #fff;
  border: 2px solid #ff410f;  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #ff410f !important;
    border-color: #ff410f !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #4d4d4d;
    border: 1px solid #ff410f; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #ff410f;
      color: #fff; }

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important; }
  .btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c; }
    .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
      background: #5cb85c;
      color: #fff; }

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important; }
  .btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de; }
    .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
      background: #5bc0de;
      color: #fff; }

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.row-padded-bottom {
  margin-bottom: 4em; }

.col-pb-sm {
  margin-bottom: 5em !important; }
  .col-pb-sm:last-child {
    margin-bottom: 0; }

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .btn.with-arrow:hover {
    padding-right: 50px; }
    .btn.with-arrow:hover i {
      color: #fff;
      right: 18px;
      visibility: visible;
      opacity: 1; }

.contact-info {
  margin-bottom: 4em;
  padding: 0; }
  .contact-info li {
    list-style: none;
    margin: 0 0 30px 0;
    position: relative;
    padding-left: 60px; }
    .contact-info li span {
      position: absolute;
      top: -0.3em;
      left: 0;
      width: 40px;
      height: 40px;
      background: #fff;
      display: table;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .contact-info li i {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5); }
    .contact-info li a {
      color: #ff410f; }

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: transparent;
  font-size: 16px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .form-control:focus, .form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: transparent; }

input[type="text"] {
  height: 50px; }

.form-group {
  margin-bottom: 30px; }

.colorlib-social-icons a:hover, .colorlib-social-icons a:focus {
  text-decoration: none !important; }

.colorlib-social-icons i {
  font-size: 24px;
  color: #ff410f; }

#footer {
  padding: 8em 0;
  display: block;
  width: 100%; }
  #footer h2 {
    color: #000;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 2em; }
  #footer p:last-child {
    margin-bottom: 0; }
  #footer p.colorlib-social-icons a:hover, #footer p.colorlib-social-icons a:focus {
    text-decoration: none !important; }
  #footer p.colorlib-social-icons i {
    font-size: 24px;
    color: #ff410f }
  #footer p .block {
    color: #1a1a1a;
    font-size: 14px; }
  #footer .subscribe .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background: #fafafa;
    font-weight: 400;
    margin-bottom: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
    #footer .subscribe .form-control:focus, #footer .subscribe .form-control:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 2px solid }
  #footer .subscribe .btn-custom {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }

.js .animate-box {
  opacity: 0; }
