header {
	min-width: 100%;
	min-height: 30%;
    background: url(../images/background.jpg) center center no-repeat;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 0px 4px 8px rgba(0, 0, 0, 0.28);
}

header h1 {
	padding-top: 3%;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
}

.search { 
	height: 35px;
	width: 70%;
	margin-top: 35px;
	margin-bottom: 25px;
	border: 2px solid #4285F4;
	color: #4285F4;
	border-radius: 4px;
	padding-left: 20px;
}