@media screen and (max-width: 1128px) {
	body {
		font-size: 98%;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 90%;
	}
}
@media screen and (max-width: 718px) {
	body {
		font-size: 88%;
	}
}

@media screen and (max-width: 640px) {
	body {
		font-size: 86%;
	}
}

@media screen and (max-width: 520px) {
	body {
		font-size: 83%;
	}
}

@media screen and (max-width: 400px) {
	body {
		font-size: 82%;
	}
}

@media screen and (max-width: 360px) {
	body {
		font-size: 80%;
	}
}