<footer class="txt-center">
  <div class="container">
    <div id="about" class="txt-left">
      <h3>About me:</h3>
      <h4>{{site.description}}</h4>  
    </div>
    <div id="contact" class="txt-left">
      <h3>Contact me:</h3>
      <h4>Email: hi@heitorgouvea.me<br/>Phone: +55 (35) 9.9817-3063</h4>
    </div>

    <div id="social-icons">
      <a href="https://fb.com/viniciushgouvea" target="_blank">
        <img src="{{base.url}}assets/images/facebook.svg" alt="heitor gouvea facebook">
      </a>
      <a href="https://twitter.com/GouveaHeitor" target="_blank">
        <img src="{{base.url}}assets//images/twitter.svg" alt="heitor gouvea twitter">
      </a>
      <a href="https://github.com/HeitorG" target="_blank">
        <img src="{{base.url}}assets/images/github.svg" alt="heitor gouvea github">
      </a>
      <a href="https://plus.google.com/u/0/+HeitorGouveaHere" target="_blank">
        <img src="{{base.url}}assets/images/google-plus.svg" alt="heitor gouvea google plus">
      </a>
    </div>
    <h4>&copy 2016 Heitor Gouvea</h4>
  </div>
</footer>