  <footer class="cf w-100 tcgrey lh-copy">
    <div class="w-90-l center tc">
      <div class="fl w-third-ns w-100 pa5">
          <p class="center"><strong>/agora</strong></p>
          <p>Inspirado por Derek Sivers, eu tenho uma página<a href="/agora">/agora</a> onde eu listo o que estou fazendo atualmente.</p>
        </div>
        <div class="fl w-third-ns w-100 pa5">
          <p class="center"><strong>Twitter!</strong></p>
          <p>Eu sou muito ativo no twitter, minha DM esta sempre aberta: <a href="http://twitter.com/GouveaHeitor">@GouveaHeitor</a></p>
        </div>
        <div class="fl w-third-ns w-100 pa5">
          <p class="center"><strong>Entre em contato!</strong></p>
          <p><a href="mailto:hi@heitorgouvea.me">hi@heitorgouvea.me</a></p>
        </div>
    </div>
  </footer>
</body>
