<footer class="c-page__footer">
	</hr>
	<p>
		{% if site.twitter_username %}
			<a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
		{% endif %}
		<span class="u-separate"></span>
		{% if site.github_username %}
			<a target="_blank" href="https://github.com/{{ site.github_username }}">Github</a>
		{% endif %}
	</p>
</footer>

{% include googleanalytics.html %}
<script>
	var host = "heitorgouvea.me"
	if (window.location.host == host && window.location.protocol != "https:") {
		window.location.protocol = "https:"
	}
</script>
