<head>
    <meta charset="UTF-8" lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign page_title = page.title | default: site.title %}
    <title>{{ page_title }}</title>

    <link rel="icon" href="/images/favicon.ico"/>
    <meta name="description" content="{% if page.excerpt %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}{% unless page.excerpt %}{{ site.description }}{% endunless %}">
    <meta name="keywords" content="{{site.keywords}}">
                
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
   
    <meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{{ site.twitter_username }}" />
	<meta name="twitter:creator" content="{{ site.twitter_username }}" />
    
    <meta property="og:title" content="{{ page_title }}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}{% unless page.description %}{{ site.description }}{% endunless %}" />
    <meta property="og:image" content="{{ page.og_image }}">
</head>
