<header class="pv3 pv4-l center mw9 pr6-l pl6-l f3 fw6 ph3 ph0-ns lh-copy">
    <a class="no-underline" href="/"><brand class="relative">Heitor Gouvêa</brand></a>

    <div class="fr f5 pv2 fw3 mobilemenu">
        <a href="#" id="mobilemenu">menu</a>
    </div>

    <div class="fr-l navigation w-100-s pv4 pt0-l tc" id="navigation">
      <a class="ma3-l mh2 no-underline" href="/posts">PUBLICAÇÕES</a>
      <a class="ma3-l mh2 no-underline" href="/consultoria">CONSULTORIA</a>
      <a class="ma3-l mh2 no-underline" href="/sobre">SOBRE</a>
      <a class="ma3-l mh2 no-underline" href="/palestras">PALESTRAS</a>
    </div>
</header>

<script type="text/javascript">
  document.getElementById('mobilemenu').onclick = function() {
    var x = document.getElementById("navigation");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
  }
</script>
