@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }

    ol {
        counter-reset: list;
    }

    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul > li {
        margin: 5px 0 5px 0;
    }

    ul {
        padding: 0 20px 0 20px;;
    }

    ol {
        padding: 0 30px 0 30px;
    }

    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }

    blockquote {
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }

    img {
        text-align: center;
        width: 100%;
    }
}
