* {
    margin: 0;
    padding: 0;
    font: 12pt Myriad Pro;
}

body {
  background-color: #3498DB;
}

h1 {
	background: #2980b9;
	color: #FFF;
	padding: 10px;
	text-align: center;
	font-size: 24px;
}


table {
	width: 750px;
	border-collapse: collapse;
	margin:50px auto;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table {
	  	width: 100%;
	}

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}
}
