@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 96%;
	font-family: "Open Sans";
}

img, picture, video, embed { max-width: 100%; }

textarea { overflow: auto; }

hr {
	color: #333;
	width: 40%;
}

header {
	min-width: 100%;
	min-height: 40%;
    background: url(../images/background.jpg) center center no-repeat;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 0px 4px 8px rgba(0, 0, 0, 0.28);
}

header h1 {
	padding-top: 5%;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
}

.search { 
	height: 35px;
	width: 70%;
	margin-top: 35px;
	margin-bottom: 25px;
	border: 2px solid #4285F4;
	color: #4285F4;
	border-radius: 4px;
	padding-left: 20px;
}

.button {
	padding: 12px 28px;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background: #4285F4;
	text-transform: uppercase;
}

.content {
	min-width: 100%;
	min-height: 100%;
	background-color: #fff;
}

.content h2 {
	color: #333;
	text-transform: uppercase;
	padding-top: 8%;
	margin-bottom: 5px;
	font-weight: 300;
}

.content h3 {
	color: #333;
	text-transform: uppercase;
	padding-top: 10%;
	margin-bottom: 5px;
}

.content hr { margin-bottom: 20px; }

.card {
	display: inline-block;
	padding: 15px;
	margin: 15px;
	min-height: 200px;
	min-width: 180px;
  	color: #333;
  	border: 0.8px solid #333;
  	border-radius: 3px;
}

.card img {
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border: 3px #4285F4 solid;
	border-radius: 50%;
}

.card h2 {
	padding-top: 30px;
}

footer {
	margin-top: 10px;
	min-width: 100%;
	height: 130px;
	background-color: #000;
}

footer h4 { 
	font-weight: 300;
	padding-top: 35px;
	color: #fff;
}

.txt-center { text-align: center; }
.txt-right  { text-align: right; }
.txt-left   { text-align: left; }

.container {
   	max-width: 1128px;
	margin: 0 auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1128px) {
	body {
		font-size: 98%;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 90%;
	}
}
@media screen and (max-width: 718px) {
	body {
		font-size: 88%;
	}
}

@media screen and (max-width: 640px) {
	body {
		font-size: 86%;
	}
}

@media screen and (max-width: 520px) {
	body {
		font-size: 83%;
	}
}

@media screen and (max-width: 400px) {
	body {
		font-size: 82%;
	}
}

@media screen and (max-width: 360px) {
	body {
		font-size: 80%;
	}
}