footer {
	width: 100%;
	height: 150px;
	margin-top: 15%;
	background-color: #252336;
	color: #fff;
}

footer h4 { padding-top: 10px; }

#social-icons {
	padding-top: 35px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #444444;
}

#social-icons img {
	width: 35px;
	height: 35px;
	padding: 5px;
}