@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	padding: 0px;
	margin: 0px;
}

body, html {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: "Open Sans";
	
}

a   { text-decoration: none; }
ul  { list-style: none; }
li  { display: inline-block; }
p   { margin: 0px 0px 10px; }
img { max-width: 100%; }

nav {
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 999;
	background: transparent;
	padding-top: 55px;
}

nav li a {
	color: #fff;
	padding: 10px;
	font-weight: 600;
	position: relative;
	right: 60px;
}

footer {
	margin-top: 5%;	
	width: 100%;
	min-width: 100%;
	height: 255px;
	background: #000000;
	color: #fff;
}

footer h4 {
	padding-top: 6%;
	font-weight: 400;
	color: #fff;
}

footer img {
	padding: 5px;
	padding-top: 10px;
	width: 35px;
	height: 35px;
}

#home {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background: url(../images/background.jpg) center center no-repeat fixed;
	background-size: cover;
	padding: 0px;
	margin: 0px;
}

#home h1 {
	padding-top: 20%;
	padding-left: 8%;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
} 

#home h3 {
	color: #fff;
	text-align: left;
	font-weight: 300;
	padding-left: 8%;
	padding-top: 1px;
}

#whatido, #whychooseme, #contact {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background: #ffffff;
}

#whatido h1, #whychooseme h1, #contact h1 {
	color: #000;
	font-weight: 600;
	padding-top: 10%;
}

#whatido h3, #whychooseme h3, #contact h3 {
	color: #333;
	font-weight: 400;
	padding-top: 1%;
}

#icons { padding-top: 5%; }

#icons img {
	width: 100px;
	height: 100px;
}

#icons h3 {
	color: #000;
	font-weight: 600;
	padding-top: 3%;
}

#icons h4 {
	color: #333;
	font-weight: 400;
	padding-top: 3%;
}

#email, #name, #message {
    width: 70%;
    margin-bottom: 25px;
    border: 2px solid #333;
    color: #333;
    border-radius: 4px;
    padding-left: 20px;
}

#email, #name { height: 45px; }
#message { height: 150px; }

#submit, #clean {
    padding: 10px 22px;
    color: #FFF;
    border: medium none;
    border-radius: 1px;
}

#submit { background: none repeat scroll 0% 0% #000000; }
#clean  { background: none repeat scroll 0% 0% #00aeef; }

.txt-center { text-align: center; }
.txt-right  { text-align: right; }
.txt-left   { text-align: left; }

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;	
}

.buttons {
	padding-top: 2%;
	padding-left: 8%;
}

.buttons a { 
	color: #fff;
}

.btn {
	display: inline-block;
	padding: 12px 30px;
	margin-bottom: 0px;
	font-weight: 600;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px #ffffff solid;
	border-radius: 1px;
}

.blue {
	background: #00aeef;
	border: 1px #00aeef solid;
	margin-right: 2px;
}

.text {
	width: 25%;
	position: relative;
	min-height: 1px;
	padding-right: 50px;
	padding-left: 50px;
	float: left;
}

.phrase {
	width: 100%;
	height: 200px;
	min-width: 100%;
	background: #000;
}

.phrase h3 {
	color: #fff;
	font-weight: 400;
	padding-top: 6%;
	text-transform: uppercase;
}

.background {
	background: url(../images/background2.jpg) center center no-repeat fixed;
	background-size: cover;
	padding: 0px;
	margin: 0px;
}

.message { padding-top: 1%; }