@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans";
}

a   { text-decoration: none; }
ul  { list-style: none; }
li  { display: inline-block; }
img { max-width: 100%; }

hr {
	margin-top: -1%;
	width: 230px;
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 30px;
}

input { display: none; }

footer {
	width: 100%;
	height: 90px;
	background-color: #fff;
}

footer hr {
	width: 30%;
}

footer h4 {
	color: #9ccc65;
	font-weight: 300;
}

#home, #whoami {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	background: url(../images/background.png) center center no-repeat fixed;
	background-size: cover;
}

#home h1 {
	padding-top: 15%;
	font-size: 45px;
	color: #9ccc65;
}

#home h2 { color: #fff; font-weight: 300; }

#skills,
#jobs,
#contact {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	background-color: #fff;
}

#skills h2,
#whoami h2,
#jobs h2,
#contact h2 {
	padding-top: 8%;
	color: #9ccc65;
	font-weight: 300;
	font-size: 35px;
}

#skills hr,
#jobs hr,
#contact hr,
footer hr { background: #9ccc65; }

.contact-icons {
	display: inline-block;
	padding-top: 10%;
	padding-left: 3%;
	color: #9ccc65;
}

.contact-icons img { 
	width: 50px;
	height: 50px;
}

#whoami img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#whoami h3 {
	color: #9ccc65;
	font-weight: 300;
	font-size: 20px;
}

#jobs img {
	height: 300px;
	width: 310px;
	border-radius: 1%;
	margin-left: 1%;
	margin-top: 1%;
}

#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

#op:checked~.overlay-hugeinc {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.hamburguer {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 0.8em;
    border-top: 0.1em solid #9ccc65;
    border-bottom: 0.1em solid #9ccc65;

}

.hamburguer:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.1em solid #9ccc65;
}

.lower {
	background: transparent;
	position: fixed;
	z-index: 100;
	width: 100%;
	margin-top: 3%;
	margin-left: -4%;
}

.lower label {
  	font-size: 30px;
}

.lower label:hover { cursor: pointer; }

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
}

.overlay label:before {
	border-bottom: 0.1em solid #fff;
	-moz-transform: rotate(135deg);
  	-webkit-transform: rotate(135deg);
  	transform: rotate(135deg);
}

.overlay label:hover {
	transition: 1s;
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.overlay nav {
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	display: block;
	color: #fff;
	font-weight: 300;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover, .overlay ul li a:focus { transition: 0.2s; color: #9ccc65; }

.lower~.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	z-index: 1;
}

.overlay-hugeinc nav { -moz-perspective: 300px; }

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.txt-center { text-align: center; }
.txt-left   { text-align: left; }
.txt-rigth  { text-align: right; }

.social img {
	height: 40px;
	width: 40px;
	padding: 15px;
}

.rotate:hover {
	transition: 1s;
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}


.arrow {
	display: inline-block;
	width: 4em;
	height: 4em;
}

.arrow:after {
  	content: '';
	display: inline-block;
  	margin-top: 0.6em;
  	width: 1.4em;
  	height: 1.4em;
  	border-top: 0.3em solid #fff;
  	border-right: 0.3em solid #fff;
  	-moz-transform: rotate(135deg);
  	-webkit-transform: rotate(135deg);
  	transform: rotate(135deg);
}

.lings span {
	margin: 5% auto 10px 3%;
	display: inline-block;
	color: #9ccc65;
	width: 130px;
	height: 130px;
	border: 3px #9ccc65 solid;
	border-radius: 50%;
	font-size: 30px;
	line-height: 120px;
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
} 
 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
} 
 
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
