@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { padding: 0; margin: 0; }

body, html {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: "Open Sans";
	border-top: 2px #00aeef solid;
}

ul { list-style: none; }
img { max-width: 100%; }

a { 
	text-decoration: none;
	outline: none;
}

nav {
	width: 100%;
	height: 70px;
	position: absolute;
	background: transparent;
	padding-top: 55px;
}

nav li  { display: inline-block; }

nav li a {
	color: #fff;
	padding: 10px;
	font-weight: 600;
	position: relative;
	right: 60px;
}

nav a:hover {
	transition: 1s;
	color: #00aeef;
}

footer {	
	width: 100%;
	min-width: 100%;
	height: 200px;
	background: #000000;
	color: #fff;
	border-bottom: 4px  #00aeef solid;
}

footer h4 {
	padding-top: 6%;
	font-weight: 400;
	color: #fff;
}

footer img {
	padding: 5px;
	padding-top: 10px;
	width: 35px;
	height: 35px;
}

#logo {
	position: absolute;
	padding-top: 3%;
	padding-left: 4%;
}

#logo img {
	width: 65px;
	height: 68px;
}

#home {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background: url(../images/background.jpg) center center no-repeat fixed;
	background-size: cover;
	padding: 0px;
	margin: 0px;
}

#home h2 {
	font-size: 2em;
	padding-top: 18%;
	padding-left: 8%;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
} 

#home h3 {
	font-size: 23px;
	color: #fff;
	text-align: left;
	font-weight: 300;
	padding-left: 8%;
	padding-top: 1%;
}

#whatido, #whychooseme, #contact {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background: #ffffff;
}

#whatido h2, #whychooseme h2, #contact h2 {
	color: #000;
	font-weight: 600;
	padding-top: 5%;
}

#whatido h3, #whychooseme h3, #contact h3 {
	color: #333;
	font-weight: 400;
	padding-top: 1%;
}

#icons { padding-top: 5%; }

#icons img {
	width: 100px;
	height: 100px;
}

#icons h3 {
	color: #000;
	font-weight: 600;
	padding-top: 3%;
}

#icons h4 {
	color: #333;
	font-weight: 400;
	padding-top: 3%;
}

#email, #name, #message {
    width: 70%;
    margin-bottom: 25px;
    border: 2px solid #333;
    color: #333;
    border-radius: 4px;
    padding-left: 20px;
    outline: none;
    resize: none;
}

#email, #name { height: 45px; }
#message { height: 150px; }

#submit, #clean {
    padding: 10px 22px;
    color: #FFF;
    border: medium none;
    border-radius: 1px;
    cursor: pointer;
    background: none repeat scroll 0% 0%;
}

#submit { background-color: #000000; }
#clean  { background-color: #00aeef; }

.txt-center { text-align: center; }
.txt-right  { text-align: right; }
.txt-left   { text-align: left; }

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;	
}

.buttons {
	padding-top: 2%;
	padding-left: 8%;
}

.buttons a {  color: #fff; }

.btn {
	display: inline-block;
	padding: 12px 30px;
	margin-bottom: 0px;
	font-weight: 600;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px #ffffff solid;
	border-radius: 1px;
}

.blue {
	background: #00aeef;
	border: 1px #00aeef solid;
	margin-right: 2px;
}

.arrow {
	display: inline-block;
 	width: 4em;
	height: 4em;
} 

.arrow:after {
	content: '';
 	display: block;
 	margin-top: 2em;
   	width: 1.2em;
   	height: 1.2em;
   	border-top: 0.3em solid #00aeef;
   	border-right: 0.3em solid #00aeef;
   	-moz-transform: rotate(135deg);
   	-webkit-transform: rotate(135deg);
   	transform: rotate(135deg);
}

.text {
	width: 25%;
	min-height: 1px;
	padding-right: 50px;
	padding-left: 50px;
	float: left;
}

.phrase {
	width: 100%;
	min-width: 100%;
	height: 200px;
	background: #000;
}

.phrase h3 {
	color: #fff;
	font-weight: 400;
	padding-top: 6%;
	text-transform: uppercase;
}

.message { padding-top: 1%; }

/* START RESPONSIVE DESIGN */

@media screen and (max-width: 1280px) {

	#icons, #icons h3, #icons h4 { padding-top: 1%; }

	#icons img {
		height: 80px;
		width: 80px;
		padding-top: 2%;
	}

	.text {
		min-width: 100%;
		padding-right: 0%;
		padding-left: 0%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 980px) {
	#home h2 { padding-top: 30%; }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 768px) {
	nav li a { right: 0px; }

	#home h2 { padding-top: 33%; }
}

@media screen and (max-width: 360px) {
	#home h2 { 
		padding-top: 35%;
	}
}

@media screen and (max-width: 320px) {}

/* /END RESPONSIVE DESIGN */