<!DOCTYPE html>
<html ng-app="dojoApp">
	<head>
		<title>Dojo AngularJS</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="assets/style/main.css"       screen="media">
		<link rel="stylesheet" href="assets/style/header.css"     screen="media">
		<link rel="stylesheet" href="assets/style/content.css"    screen="media">
		<link rel="stylesheet" href="assets/style/footer.css"     screen="media">
		<link rel="stylesheet" href="assets/style/responsive.css" screen="media">
	</head>
	<body ng-controller="DojoCtrl as vm">

		<header id="search" class="txt-center">
			<div class="container">
				<h1>search for a product</h1>
				<form>
					<input type="text" class="search" placeholder="Write your research here" ng-model="searchText">
					</input>
				</form>
			</div>
		</header>
		
		<section class="txt-center content">
			<div class="container">
				<h2>products</h2>
				<hr class="center">

				<div ng-repeat="dojo in vm.dojos | filter:searchText" class="card">
					<img ng-src="{{ dojo.foto }}">
					<h3 ng-bind="dojo.nome"></h3>
					<h4 ng-bind="dojo.valor"></h4>
					<input type="submit" value="Buy" class="button" ng-click="" ng-disabled="dojo.quantidade == '0'"></button>
				</div>

			</div>
		</section>

		<div ng-include="'assets/views/footer.html'"></div>

		<script src="assets/javascript/angular.min.js"></script>
		<script src="assets/javascript/app.js"></script>
		<script src="assets/javascript/controllers/appCtrl.js"></script>
		<script src="assets/javascript/services/appSrv.js"></script>
	</body>
</html>