.u-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem;
    padding-right: 6rem;
    padding-left: 6rem;
}
