.c-page__header {
    margin-bottom: 3rem;

    h1 {
        margin-bottom: 1.5rem;
        @include fs--heading-2;
        color: $c-base__02;
    }

    p {
        @include fs--meta;
    }
}

.c-page__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    p {
        @include fs--body;
        color: $c-base__01;
    }
}
