{% include head.html %}
{% include googleanalytics.html %}
{% include header.html %}

<div class="mw8 center lh-copy f4 postcontainer ph3 ph0-l">
  <div class="pt4 w-two-thirds-ns">

      <h1 class="f2 f1-l fw8 lh-solid mv2 posttitle">{{page.title}}</h1>

    {% if page.subtitle %}
    <h2 class="f3 fw3 lh-copy mv2">{{page.subtitle}}</h2>
      {% endif %}

    {% if page.date %}
    <div class="f5 f6-s ttu black-20 pv3">{{ page.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
  </div>

  <div class="w-two-thirds-ns">

  {{content}}

  <hr class="w3 mv5">

<div class="f5 i">
  <p>
    <a href="https://heitorgouvea.me">Heitor Gouvêa</a>: com mais de 3 anos de experiência no campo da segurança
    da informação ofensiva, hoje atua de forma independente como Pesquisador de Segurança da Informação,
    além de ser o principal desenvolvedor do projeto <a href="https://github.com/GouveaHeitor/nipe">Nipe</a>, ferramenta responsável por garantir o anonimato
    a seus usuários, presente em várias distribuições Linux como: Black Arch, Weak Net e LionSec Linux.
  </p>
  <p>
    Se tu acha que o escritor desse texto tem algum potencial, dá uma olhada nas outras coisas que eu crio.
    Tenho uma <a href="https://heitorgouvea.me/newsletter">newsletter</a> semanal sobre coisas possivelmente interessantes e
    até penso em criar um canal no youtube futuramente.  Mas falando sério, assina a <a href="https://heitorgouvea.me/newsletter">newsletter</a> que
    é bem legal e esse é o jeito que a gente pode continuar trocando ideia.
  </p>
  <br />
</div>

</div>
</div>

{% include footer.html %}
